body{
    background-color: rgb(4, 128, 252)
}
.image1{
    width: 420px;
    height: auto;
}
.image2{
    width: 450px;
    height: auto;
}
div{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100px;
    text-align: center;
}
h1


